<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adalida Lewis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../Styles/style.css">
</head>
<body>
  <!--Navbar Sticky-->
  <nav id="jumpscroll" class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <!--Logo-->
      <a class="navbar-brand" href="./index.html">Adalida Lewis</a>
      <!--Mobile Toggle Dropdown-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Navbar Links-->
      <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="#About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bg-body-tertiary text-black rounded-pill fw-bold text-center" href="../PDFs/AdalidaLewisResume.pdf" target="_blank">Download Resume</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Content Start-->

  <!--Hero-->
  <section class="p-5 mb-4 bg-body-tertiary rounded-3 bg-img container-fluid" >

    <div class="container text-center" data-bs-spy="scroll" data-bs-target="#jumpscroll" data-bs-offset="0" tabindex="0">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 align-content-center">
          <h1>Hi! I'm <span>Adalida Lewis</span></h1>
          <h3>A <span>Full-Stack</span> Web Developer</h3>
          <p class="mx-5 mt-4">With 5+ years of experience creating accessible websites, I'm passionate about creating websites that. Creative and detail-oriented with experience working through companies and directly with clients. I'm seeking an opportunity to expand my skills and contribute to a team of forward-thinking people.</p>
        </div>
      
        <div class="col-12 col-md-4 align-content-center">
          <img class="headshotPic" id="About" src="../Images/Adalida_Lewis_Headshot.png" alt="Photo of Adalida Lewis" title="Photo of Adalida Lewis">
        </div>
      </div>
        </div>
  </section>

<div>
<!--About-->
<section >
  <div class="container">
    <h2 class="text-center text-uppercase">About Me</h2>
    <div class="row">
      <div class="col-12">
        <p>Hi There! I'm Adalida Lewis. I've been working as a Web Developer in the Kansas City area for 5+ years. I am a professional Front-End Web Developer and am ready to take on the Full Stack professionally. In 2020 I graduated from Northwest Missouri State University with a BS in Interactive Digital Media: Computer Science. This major gave me a unique experience of studying the full creative process of Web Development. Studying Conception, Design, Testing, Implementation, and Deployment, I am uniquely experienced in the Full-Stack. In my free time, I enjoy reading, art, and beekeeping.</p>
      </div>

    </div>
  </div>

<!--Front-End-->
<p class="my-2 me-3 fw-bold text-center">Front-End:</p>
  <div class="container d-flex mb-3 justify-content-center skillPills">
    <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">CSS</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Bootstrap</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Tailwind</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Tabler</span>
  </div>

  <!--Back-End-->
<p class="my-2 me-3 fw-bold text-center">Back-End:</p>
  <div class="container d-flex mb-3 justify-content-center skillPills">
    <span class="badge rounded-pill bg-light text-dark me-2 border">Node.js</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Vue.js</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">.NET Core</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">React</span>
  </div>

  <!--Databases-->
<p class="my-2 me-3 fw-bold text-center">Database:</p>
  <div class="container d-flex mb-3 justify-content-center skillPills">
    <span class="badge rounded-pill bg-light text-dark me-2 border">SQL</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Mongo DB</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Amazon Web Services</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">NoSQL</span>
  </div>

      <!--Other Languages-->
      <p class="my-2 me-3 fw-bold text-center">Other Langauges:</p>
      <div class="container d-flex mb-3 justify-content-center skillPills">
        <span class="badge rounded-pill bg-light text-dark me-2 border">Python</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">Java</span>
      </div>

  <!--SEO-->
<p class="my-2 me-3 fw-bold text-center">SEO:</p>
  <div class="container d-flex mb-3 justify-content-center skillPills">
    <span class="badge rounded-pill bg-light text-dark me-2 border">Google Analytics</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Keyword Research</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">A/B Testing</span>
  </div>

<!--CMS-->
<p class="my-2 me-3 fw-bold text-center" id="Projects">CMS:</p>
  <div class="container d-flex mb-3 justify-content-center skillPills">
    <span class="badge rounded-pill bg-light text-dark me-2 border">Visual Studio</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Drupal</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Magnolia</span>
    <span class="badge rounded-pill bg-light text-dark me-2 border">Amazon Web Services</span>
  </div>
  
    <!--Design-->
<p class="my-2 me-3 fw-bold text-center">Design Tools:</p>
    <div class="container d-flex mb-3 justify-content-center skillPills">
      <span class="badge rounded-pill bg-light text-dark me-2 border">Sketch</span>
      <span class="badge rounded-pill bg-light text-dark me-2 border">Figma</span>
      <span class="badge rounded-pill bg-light text-dark me-2 border">Adobe XD</span>
    </div>
</section>

<!--Websites-->
<section  class="text-center bg-body-tertiary py-3">
  <div class="container">
    <div class="row">
      <h2 class="mb-0">Live Websites</h2>
      <p class="footnote">Worked with Eversana </p>

<!--Regeneron-->
      <div class="col-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body mb-4 projectCards my-3">
            <h5 class="card-title">regeneron.com</h5>
            <p class="card-text">Regeneron / <span class="badge rounded-pill bg-success text-white text-dark me-2 border">Live</span></p>
            <p class="card-text">
              <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">AWS</span>
            </p>
            <a href="https://www.regeneron.com/" target="_blank" class="btn btn-primary">View Site</a>
          </div>
        </div>
      </div>
<!--Regencov-->
<div class="col-6 col-lg-4 mb-4">
  <div class="card">
    <div class="card-body mb-4 projectCards my-3">
      <h5 class="card-title">Regencov.com</h5>
      <p class="card-text">Regeneron / <span class="badge rounded-pill bg-secondary text-white text-dark me-2 border">Discontinued</span></p>
      <p class="card-text">
        <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
      </p>
    </div>
  </div>
</div>
<!--Dupixent-->
      <div class="col-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body mb-4 projectCards my-3">
            <h5 class="card-title">dupixent.com</h5>
            <p class="card-text">Sanofi + Regeneron / <span class="badge rounded-pill bg-success text-white text-dark me-2 border">Live</span></p>
            <p class="card-text">
              <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">AWS</span>
            </p>
            <a href="https://www.dupixent.com/" target="_blank" class="btn btn-primary">View Site</a>
          </div>
        </div>
      </div>
<!--Transform Myeloma-->
      <div class="col-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body mb-4 projectCards my-3">
            <h5 class="card-title">transformmyeloma.com</h5>
            <p class="card-text">Sanofi / <span class="badge rounded-pill bg-success text-white text-dark me-2 border">Live</span></p>
            <p class="card-text">
              <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">Git</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">JS</span>
            </p>
            <a href="https://www.transformmyeloma.com/" target="_blank" class="btn btn-primary">View Site</a>
          </div>
        </div>
      </div>
<!--Sanofi.US-->
      <div class="col-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body mb-4 projectCards my-3">
            <h5 class="card-title">sanofi.us</h5>
            <p class="card-text">Sanofi / <span class="badge rounded-pill bg-success text-white text-dark me-2 border">Live</span></p>
            <p class="card-text">
              <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">Git</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">JS</span>
            </p>
            <a href="https://www.sanofi.com/en" target="_blank" class="btn btn-primary">View Site</a>
          </div>
        </div>
      </div>
<!--Lemtrada-->
      <div class="col-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body mb-4 projectCards my-3">
            <h5 class="card-title">lemtrada.com</h5>
            <p class="card-text">Sanofi / <span class="badge rounded-pill bg-success text-white text-dark me-2 border">Live</span></p>
            <p class="card-text">
              <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">Git</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">JS</span>
            </p>
            <a href="https://www.lemtrada.com/" target="_blank" class="btn btn-primary">View Site</a>
          </div>
        </div>
      </div>
<!--LemtradaHCP-->
<div class="col-6 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body mb-4 projectCards my-3">
      <h5 class="card-title">lemtradahcp.com</h5>
      <p class="card-text">Sanofi / <span class="badge rounded-pill bg-success text-white text-dark me-2 border">Live</span></p>
      <p class="card-text">
        <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">Git</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">JS</span>
      </p>
      <a href="https://www.lemtradahcp.com/" target="_blank" class="btn btn-primary">View Site</a>
    </div>
  </div>
</div>
<!--SarclisaHCP-->
<div class="col-6 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body mb-4 projectCards my-3">
      <h5 class="card-title">sarclisahcp.com</h5>
      <p class="card-text">Sanofi / <span class="badge rounded-pill bg-success text-white text-dark me-2 border">Live</span></p>
      <p class="card-text">
        <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">Git</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">JS</span>
      </p>
      <a href="https://www.sarclisahcp.com/" target="_blank" class="btn btn-primary">View Site</a>
    </div>
  </div>
</div>
<!--Aubagio-->
<div class="col-6 col-lg-4 mb-4">
  <div class="card">
    <div class="card-body mb-4 projectCards my-3">
      <h5 class="card-title">aubagio.com</h5>
      <p class="card-text">Sanofi / <span class="badge rounded-pill bg-secondary text-white text-dark me-2 border">Discontinued</span></p>
      <p class="card-text">
        <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">Git</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">JS</span>
      </p>
    </div>
  </div>
</div>
<!--Aubagio HCP-->
<div class="col-6 col-lg-4 mb-4">
  <div class="card">
    <div class="card-body mb-4 projectCards my-3">
      <h5 class="card-title">aubagiohcp.com</h5>
      <p class="card-text">Sanofi / <span class="badge rounded-pill bg-secondary text-white text-dark me-2 border">Discontinued</span></p>
      <p class="card-text">
        <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">SaSS</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">Git</span>
        <span class="badge rounded-pill bg-light text-dark me-2 border">JS</span>
      </p>
    </div>
  </div>
</div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h2 class="mb-0">Websites</h2>
      <p class="footnote">Independently </p>

      <!--BigGuysAuto-->
      <div class="col-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body mb-4 projectCards my-3">
            <h5 class="card-title">Big Guys Auto LLC</h5>
            <p class="card-text"><span class="badge rounded-pill bg-secondary text-white text-dark me-2 border">In Progress</span></p>
            <p class="card-text">
              <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">CSS</span>
            </p>
          </div>
        </div>
      </div>

      <!--Affordable Self Storage LLC-->
      <div id="Contact" class="col-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body mb-4 projectCards my-3">
            <h5 class="card-title">Affordable Storage LLC</h5>
            <p class="card-text"><span class="badge rounded-pill bg-secondary text-white text-dark me-2 border">In Progress</span></p>
            <p class="card-text">
              <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">CSS</span>
            </p>
          </div>
        </div>
      </div>

      <!--BitsyBeeHoney-->
      <div class="col-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body mb-4 projectCards my-3">
            <h5 class="card-title">Bitsy Bee Honey</h5>
            <p class="card-text"><span class="badge rounded-pill bg-secondary text-white text-dark me-2 border">In Progress</span></p>
            <p class="card-text">
              <span class="badge rounded-pill bg-light text-dark me-2 border">HTML</span>
              <span class="badge rounded-pill bg-light text-dark me-2 border">CSS</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Contact-->
<section>
  <div class="container py-3">
    <div class="card text-center py-4">     
      <div class="card-title">
        <h4>Contact Information</h4>
      </div>
      <div class="card-body contactLinks">
        <div class="d-flex flex-row mb-3 justify-content-center">
          <a href="mailto:adalidalewis@gmail.com">
          <div class="contactIcon"><img class="w-100" src="../Images/icons/mail.png"></div></a>
          <div class="p-2 justify-content-center"><a href="mailto:adalidalewis@gmail.com">adalidalewis@gmail.com</a></div>
        </div>
        <div class="d-flex flex-row mb-3 justify-content-center">
          <a href="../PDFs/AdalidaLewisResume.pdf" target="_blank">
          <div class="contactIcon"><img class="w-100" src="../Images/icons/resume.png"></div></a>
          <div class="p-2 justify-content-center"><a href="mailto:adalidalewis@gmail.com">View Resume</a></div>
        </div>
        <div class="d-flex flex-row mb-3 justify-content-center">
          <a href="https://www.linkedin.com/in/adalidalewis/" target="_blank">
          <div class="contactIcon"><img class="w-100" src="../Images/icons/linkedin.png"></div></a>
          <div class="p-2 justify-content-center"><a href="https://www.linkedin.com/in/adalidalewis/">linkedin.com/in/adalidalewis/</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>